@tailwind base;
@tailwind components;
@tailwind utilities;

/* Components Layer */
@layer components {
  /* Hanger Line */
  .hanger-line {
    @apply relative flex flex-wrap gap-y-8 pt-[30px];
  }
  .hanger-line::before {
    content: "";
    @apply h-1 w-full;
    background-image: radial-gradient(
      ellipse at center,
      var(--nad-primary) 0%,
      rgba(255, 255, 255, 0) 70%
    );
  }

  /* Hanger Card */
  .hanger-card {
    @apply relative w-1/2 flex-none px-2 md:px-4 lg:w-1/4;
  }
  .hanger-card::before {
    content: "";
    @apply absolute bottom-full left-1/2 h-8 w-[3px] translate-x-[-50%];
    background-image: linear-gradient(
      var(--nad-primary),
      rgba(255, 255, 255, 0)
    );
  }
  .hanger-card::after {
    content: "";
    @apply absolute bottom-[calc(100%+23px)] left-1/2 h-[20px] w-[20px] translate-x-[-50%] rounded-full border-[4px] border-solid;
    border-color: var(--nad-primary);
    background-color: #f9f9ff;
  }

  .mrgt-large {
    @apply mt-10;
  }

  .hanger-card.mrgt-large::after {
    @apply bottom-[calc(100%+63px)];
  }
  .hanger-card.mrgt-large::before {
    @apply h-[65px];
  }

  /* Counter Card */
  .nad-counterup {
    @apply relative z-[1] overflow-hidden rounded-md bg-white px-[30px] pb-[40px] pt-[40px] text-center shadow-[0px_6px_34px_rgba(215,216,222,0.41)] transition-transform duration-700;
    transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nad-counterup:hover {
    @apply -translate-y-[3px];
  }
  .nad-counterup::before {
    content: "";
    @apply absolute bottom-0 left-0 h-[4px] w-full;
    background-image: linear-gradient(90deg, #93c5fd, var(--nad-primary));
  }

  .border-bottom-gradient {
    @apply relative z-[1] overflow-hidden;
  }

  /* Counter Card Top Circle Shape */
  .top-circle-shape {
    @apply absolute left-0 right-0 top-[-47%] mx-auto h-[243px] w-[243px] rounded-full bg-gradient-to-r from-[#93c5fd] to-[var(--nad-primary)] opacity-10;
  }
  .top-circle-shape::before {
    content: "";
    @apply absolute left-[20px] top-[20px] h-[calc(100%-40px)] w-[calc(100%-40px)] rounded-full bg-white;
  }
}

/* Utilities Layer */
@layer utilities {
  .counter-image {
    @apply relative mx-auto mb-6 flex h-[100px] w-[100px] items-center rounded-full bg-white p-[25px] shadow-xl shadow-blue-300/10;
  }
  .counter {
    @apply mb-1 text-2xl font-bold tracking-wide md:mb-3 lg:text-4xl;
  }
  .counter-subtitle {
    @apply text-sm font-medium text-gray-600 lg:text-lg;
  }
}
